$light: #fff;
$primary-color: #003f5c;
$secondary-color: #0096aa;
$success: #85ffef;
$black: #000;
$alert:#c7254e;
$border-color:#dedede;
$primary-font: 'Playfair Display', serif, -apple-system;
$secondary-font: 'Volkhov', serif;
// $primary-font:'Roboto', sans-serif;
// $secondary-font:'Volkhov', serif;
// $icon-font: 'themefisher-font';
$icon-font: Helvetica, Arial, sans-serif, -apple-system;
